# Build directories
build*/
cmake-build-*/
out/

# CMake artifacts & cache
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps/
compile_commands.json
.cache/

# Скомпилированные файлы и библиотеки
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.out
*.app

# Редакторы и IDE

# Visual Studio Code
.vscode/
*.code-workspace

# CLion
.idea/
*.iml
*.iws
*.ipr

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user
*.VC.db
*.VC.opendb

# Отладчики, дампы и временные файлы
*.d
*.pch
*.gch
vgcore.*
core
core.*

# Покрытие кода
*.gcno
*.gcda
*.gcov
lcov.info
coverage/

# Системные и временные файлы
*.log
*.tmp
*.bak
*.swp
*~
.DS_Store
Thumbs.db
